
@media screen and (max-width: 857px){
    nav ul li a {
        margin-right: 30px;
    }
}

@media screen and (max-width: 752px){
    nav ul li a {
        margin-right: 0;
    }
}
@media screen and (max-width: 600px){
    .logo {
        margin-right: 170px;
    }
    nav ul {
        display: block;
    }
    nav ul li {
        width: 100%;
        margin-right: 10px;
    }
    nav ul li a {
        padding: 0 10px 0 5px;
        width: 100%;
        display: flex;
    }
}



@media screen and (max-width: 420px){
    .button-menu {
        display: block;
        padding: 0 16px 0 10px;
    }
    .h-container{
        width: 100%;
        justify-content: space-around;
        align-items: normal;
    }

    .logo {
        margin-right: 0;
    }

    nav {
        margin-top: 43px;
    }


    nav ul {
        display: none;
    }
    nav ul li {
        display: flex;
    }

    nav ul li a {
        margin-right: 0;
        padding: 0 10px 0 9px;
        width: 100%;
        display: block;
    }

    
    input#check-menu:checked + label.button-menu {
        background-color: #d7d7d7;
        color: #fff;
    }
    input#check-menu:checked ~ ul {
        display: block;
    }
    input#check-menu:checked ~ label.button-menu i.bar{
        display: none;
    }
    input#check-menu:checked ~ label.button-menu i.close{
        display: block;
    }
}
