body {
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

header {
    background-color: #f9f9f9;
    padding: 22px 0;
}

.h-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cb-menu {
    display: none;
}

.button-menu i {
    text-transform: uppercase;
    cursor: pointer;
}
.button-menu {
    display: none;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li a{
    text-transform: uppercase;
    color: #000;
    padding: 27px 10px 30px 9px;
    margin-right: 60px;
}
nav ul li a:hover{
    background-color: #ffea00;
}
nav ul li:last-child a{
    margin-right: 0;
}

label.button-menu i.close {
    display: none;
    padding: 4px 0;
}

