* {
    margin: 0;
    padding: 0;
}

header {
    background: url("../img/bghead.jpg") no-repeat top/cover;
    height: 400px;
    width: 100%;
}

.bgblack {
    background-color: #000;
    height: 400px;
    width: 100%;
    opacity: 0.7;
    transition: 5s;
    position: absolute;
    z-index: 1;
}

.bggrad {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+38,000000+66,000000+100&1+0,0.5+38,0+51,0.5+65,1+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 38%, rgba(0,0,0,0) 51%, rgba(0,0,0,0.5) 65%, rgba(0,0,0,0.51) 66%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 38%,rgba(0,0,0,0) 51%,rgba(0,0,0,0.5) 65%,rgba(0,0,0,0.51) 66%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 38%,rgba(0,0,0,0) 51%,rgba(0,0,0,0.5) 65%,rgba(0,0,0,0.51) 66%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

    width: 100%;
    height: 400px;
    position: absolute;
    opacity: 0.9;
    transition: 3s;
}

header .bgblack:hover {
    opacity: 0.0;
    transition: 3s;
}

.logo a img {
    width: 100px;
    height: 100px;
    float: left;
}

.logo a img:hover{
    box-shadow: 0 5px 25px -10px white;

}

.logo {
    position: absolute;
    margin: 147px 0 0 97px;
    z-index: 2;
}

.logo span {
    color: white;
    position: absolute;
    font-family: 'Lobster', cursive;
    font-size: 39px;
    margin-left: 12px;
}

.social {
    position: absolute;
    z-index: 2;
    right: 23px;
    top: 12px;
    color: white;
    font-family: 'Pacifico', cursive;
}

.social a i {
    color: #fff;
    font-size: 20px;
    margin-left: 11px;
    transition: 0.6s;
}

.social a:hover i {
    color: grey;
    font-size: 23px;
    transition: 0.6s;
    position: relative;
}